[2018-06-15 11:13] Bouncey opened #14 ""Applied Visual Design - Create a More Complex Shape Using CSS and HTML" does not use CSS3 pseudo-element selector syntax"
@SuperGeniusZeb commented on [Thu May 31 2018](https://github.com/freeCodeCamp/learn/issues/121)

https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html

This lesson currently uses the old CSS2 pseudo-element syntax: `thing:pseudo-element`. It should be updated to use the CSS3 syntax: `thing::pseudo-element`.

See also:
https://dev

[2018-06-15 11:23] Bouncey opened #15 ""Applied Accessibility - Make Elements Only Visible to a Screen Reader by Using Custom CSS" has invalid HTML in its instructions"
@SuperGeniusZeb commented on [Fri Jun 01 2018](https://github.com/freeCodeCamp/learn/issues/137)

https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css

The instructions of this lesson include invalid HTML: there are `<hr>`, `<li>`, and `<ul>` tags nested in `<p>` tags. Paragraph elements only allow phrasing con

[2018-06-15 11:36] Bouncey opened #16 "Indent sample code in lesson description"
@thefifthisa commented on [Wed Jun 13 2018](https://github.com/freeCodeCamp/learn/issues/172)

#### Describe your problem and - if possible - how to reproduce it
Minor thing, but I think it would improve readability if the sample code below was properly indented like in other lesson descriptions.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and

[2018-06-15 11:39] Bouncey opened #17 ""Applied Visual Design - Use the del Tag to Strikethrough Text" is using the wrong element semantically"
@SuperGeniusZeb commented on [Thu May 31 2018](https://github.com/freeCodeCamp/learn/issues/123)

https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/use-the-del-tag-to-strikethrough-text/

This lesson teaches that the `<del>` element represents "a section of text is no longer valid". However, according to the HTML spec, that is the purpose of the `<s>` element. The `<del>`

[2018-06-15 12:33] Bouncey opened #18 "Example link in lesson text opens to FCC website in same tab"
@mstellaluna commented on [Fri May 18 2018](https://github.com/freeCodeCamp/learn/issues/58)

Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

Issue Description
In the lesson text opens to freecodecamp.org website in the same tab. My suggestion is to have it open to a new tab so the camper does not lose lesson they

[2018-06-15 12:35] Bouncey commented on #18
In summary, in the example and the actual code, the link should have a target attribute of `_blank`

[2018-06-15 12:42] Nirajn2311 commented on #16
After two days of digging I found the root of the problem and it is in package.json in learn repo.
When you do yarn install it downloads @freecodecamp/curriculum 1.0.4 version, as it is set as required version in the json file, which has some typos so the package.json in learn repo should be updated.
Anyone is free to do this.
Ignore the previous comment as I still hadn't checked curriculum repo.

[2018-06-16 12:35] moT01 commented on #16
I made a pr on the main repo to fix all the formatting in the seed files - there was at least several dozen challenges that needed formatting in the description

[2018-06-16 12:38] Nirajn2311 commented on #16
@Bouncey @moT01 I have doubt whether the changes in the seed files will reflect in learn repo. Also the learn repo depends on the curriculum module.

[2018-06-16 12:49] moT01 commented on #16
I suppose since learn is now getting the challenges from this repo I should assume that changes over on the main repo wont show up - if that's the case we should maybe merge the pr's involving seed files over on the main repo and move the files over here - and maybe delete them from over there to avoid confusion - not sure where we want issues to be made - maybe we should close the over there and

[2018-06-16 12:53] Nirajn2311 commented on #16
That’s the doubt many of us have(as I and @anku255 discussed in Gitter), if any main contributors commented on it then some of us could help in the transferring.

[2018-06-19 09:39] beaucarnes opened #24 "Update text in Applied Visual Design challenge"
#### Describe your problem and - if possible - how to reproduce it
In the challenge, "Applied Visual Design: Use the u Tag to Underline Text", there is text that should be changed to make more sense.

It says:

I think the second sentence should be removed. It is confusing and adds nothing to the challenge.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-we

[2018-06-19 13:05] johnkennedy9147 commented on #24
@beaucarnes For the tests to pass you need to wrap `Ph.D. students` only, if you wrap round anything else, even an additional space a test will fail.  So we probably want to replace rather than remove the sentence so that we clearly set out what is required.

[2018-06-19 19:50] #18 closed

[2018-06-20 00:53] nkolatsis opened #27 "Correct code on "Basic Node and Express - Use the .env file" does not work"
#### Describe your problem and - if possible - how to reproduce it

The following fails:

`app.get("/json", (req, res) => {
  let message = "";
  (process.env.MESSAGE_STYLE == "uppercase") ? message=message.toUpperCase() : message="Hello json";
  res.json({"message": message});
});`

And this works:

`app.get("/json", (req, res) => {
  let message = "Hello json";
  (process.env.MESSAGE_STYLE == "u

[2018-06-20 01:39] nkolatsis commented on #27
Another one on [implementing a root-level request logger middleware](https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware)

´// --> 7)  Mount the Logger middleware here
app.use((req, res, next) => logger(req, res, next));
´
This does not work:
`/** 7) Root-level Middleware - A logger */
function logger(req, res, next) {
  con

[2018-06-21 01:14] sergiorojasa commented on #24
I would like to work on this issue.

[2018-06-21 08:32] johnkennedy9147 opened #28 "Error in introduction to Currying challenge"
In the challenge Functional Programming: Introduction to Currying and Partial Application

Some of the example code is incorrect:
![image](https://user-images.githubusercontent.com/26827682/41707196-7aee8b80-7535-11e8-887b-395bdfb12111.png)

With the example curried function provided earlier in challenge the 3rd line will not work as funcForZ is not a function.

https://learn.freecodecamp.org/java

[2018-06-21 13:11] #28 closed

[2018-06-21 19:02] #16 closed

[2018-06-22 04:42] mpmaan opened #36 "Redundant/Repetitive text in guide from previous challenge"
**Describe the bug**
A clear and concise description of what the bug is.

The guide in the first challenge contains the same redundant text from the second challenge.
1) https://learn.freecodecamp.org/front-end-libraries/bootstrap/create-a-custom-heading
2) https://learn.freecodecamp.org/front-end-libraries/bootstrap/use-the-bootstrap-grid-to-put-elements-side-by-side

**To Reproduce**
Steps to re

[2018-06-23 05:00] gforce2k5 commented on #36
I want to have a go on this. The text should be removed from the second challenge right?

[2018-06-23 07:11] thatnini commented on #36
It needs to be removed from [https://learn.freecodecamp.org/front-end-libraries/bootstrap/create-a-custom-heading/](https://learn.freecodecamp.org/front-end-libraries/bootstrap/create-a-custom-heading/) as it comes later in the curriculum than the other one.

Also I think you can remove `In the Cat Photo App that we're building, ....` x2 and `Put the Like, Info and Delete buttons side-by-side...`

[2018-06-23 20:22] gforce2k5 opened #42 "Running unpack and then repack removes translations from challenge json files"
**Describe the bug**
When running `npm run unpack`, then `npm run repack`, translations gets deleted from challenge json file

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm run unpack`
2. Make changes in unpacked HTML files
3. Run `npm run repack`
4. Go to any challenge json file, see that translations are not there

**Expected behavior**
Translations should not get deleted from js

[2018-06-23 20:23] gforce2k5 commented on #42
I'll be happy to try and fix this issue

[2018-06-25 15:12] huyenltnguyen opened #47 "Telephone Number Validator - Examples are not presented on separate lines as expected"
**Bug:**
In the challenge description, the examples of valid phone number formats are not presented on separate lines as expected.

Link to the challenge: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator

**Solution:**
This is because HTML doesn't render `\n` to a new line, but a single space inst

[2018-06-25 15:32] gforce2k5 commented on #47
I'll fix it

[2018-06-26 00:07] matthew-t-smith opened #55 "Regular Expression Error in Test for Debugging Challenge"
**Referencing Issue #17387 in freeCodeCamp/freeCodeCamp:**
In the "Debugging: Understanding the Differences between the freeCodeCamp and Browser Console" challenge, a correct solution cannot pass because of a test failing due to the following:
[code]

It has been determined that this is likely because the negative look behind regular expression used is not fully implemented in Firefox yet.

**To R

[2018-06-26 14:40] mattlub opened #61 "Update the Contributing documentation"
Some potential contributors are having a problem with the Travis CI test which is checking for commit formats, but this is undocumented.

This repo should have a CONTRIBUTING.md file I guess containing this sort of information?

I am not really aware of the circumstances of moving from the old repo to this new repo- maybe it is appropriate to simply link to the CONTRIBUTING.md file from the old re

[2018-06-27 12:14] raisedadead commented on #61
@scissorsneedfoodtoo

When you have a minute can you please help us with moving over the documentation over to this repo?

I am thinking if you could create the points that need to be brought in from the main repo, someone can update the guide.

We would also need to create the same set of issue labels (with description), a triaging guide and the challenge style guides with the new schema.

And th

[2018-06-27 12:18] raisedadead commented on #42
@gforce2k5 go ahead. It would be awesome if you can get the scripts working again.

[2018-06-27 13:06] RobAnthony01 opened #64 "User guidance incorrect in ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements"
**Describe the bug**
Incorrect guidance to the user to change code 'below this line' when it should be 'above'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements
2. See error on line 6 of code

**Expected behavior**
Line 6 should read:
  // change code above this line

Happy to fix this minor issue.

[2018-06-27 13:13] #47 closed

[2018-06-27 13:18] scissorsneedfoodtoo commented on #61
@raisedadead, sure, I was thinking the same thing. I'll get to work moving over and editing the Contributing Guide from the main repo. I'll also start working on the issue labels, templates, and other guides soon, too.

[2018-06-27 13:36] mattlub commented on #61
@scissorsneedfoodtoo re the issues, I've used this before: https://github.com/dwyl/labels

[2018-06-27 13:44] scissorsneedfoodtoo commented on #61
@mattlub, thank you! That will be really helpful later.

[2018-06-27 14:17] RobAnthony01 opened #65 "Regex to test for Template Literals is incorrect"
**Describe the bug**
The regex string to test is the user has correctly used template literals is incorrect and the test fails when it should not.
Some of the escape characters in the string are not correctly entered, causing the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ES6: Create Strings using Template Literals
2. Complete the task
3. Click on Run the Tests
4. The test

[2018-06-27 14:49] scissorsneedfoodtoo commented on #61
@raisedadead, I copied over all the labels from the main repo: https://github.com/freeCodeCamp/curriculum/labels

The only difference now is the first one, duplicate. However, I think people are good about self regulating and tend to close issues / pull requests themselves, so it's probably not necessary. Also, a number of the labels won't be necessary here, like some of the scope, other, and supp

[2018-06-27 15:30] gforce2k5 commented on #65
on it

[2018-06-27 15:54] Flarp opened #68 "Synchronizing learn with curriculum during development"
**Is your feature request related to a problem? Please describe.**
On my computer, compiling learn takes several minutes (usually 5-10) and waiting this long to view a change with curriculum is just impractical when making minor adjustments.

**Describe the solution you'd like**
I'd like to be able to run something similar to `unpacked`, but there is an editor, and the learning tests (i.e buffer s

[2018-06-27 15:57] Flarp commented on #42
The `releasedOn` field is deleted as well (at least on my machine)

https://github.com/Flarp/curriculum/commit/177f34419ac1e9c914d2ad1d571da0f41f8946df

[2018-06-27 17:42] raisedadead commented on #61
Agreed.

Thanks a lot for taking the time to make this changes.

[2018-06-27 18:12] huyenltnguyen commented on #64
@RobAnthony01 Nice catch!
Here is where the code located:
https://github.com/freeCodeCamp/curriculum/blob/7950a01bf6c053a7b128f8b4348a36c957bb6667/challenges/02-javascript-algorithms-and-data-structures/es6.json#L907-L909
If you run into any issue while working on this, feel free to ask for help in the [Gitter Contributors Room](https://gitter.im/FreeCodeCamp/Contributors).

[2018-06-28 04:50] anku255 commented on #68
Hi @Flarp! I have a question for you.

If you make a change in curriculum repo then how do you get it to reflect in the learn repo? I currently change the files in node_modules to test the changes made in curriculum files.

[2018-06-28 05:09] anku255 commented on #27
@nkolatsis

[code]

The above code is failing because is is not returning the correct response. Notice the code `message = message.toUpperCase()`. Here `message`  is an empty string.

The other code is passing the test because you have `let message = 'Hello json';`

I hope you understand where the problem is. If there is any confusion then feel free to ask.

[2018-06-28 05:56] anku255 commented on #27
Hi! @Em-Ant

Please check the above [comment](https://github.com/freeCodeCamp/curriculum/issues/27#issuecomment-398596818). Both of the `logger` functions are outputting the exact same thing but one is passing the test and one is not.

I copied the RegEx you have used [here](https://github.com/Em-Ant/fcc-express-bground-pkg/blob/cb9bc1c0a76ccc4b9ee2b5d0e26a139062551661/wrappers.js#L34) and tested

[2018-06-28 06:05] anku255 commented on #24
Hi! @ChrisLMartin! Seems like you have made a [commit](https://github.com/ChrisLMartin/curriculum/commit/2d3d51c2a59e1b9c67e2eb1ad0e45677f73b6585) to fix this issue but I can't find any PR. Can you please give us an update?

[2018-06-28 06:13] ChrisLMartin commented on #24
Hi @anku255, I was hoping to get rid of it, but not sure how.

[2018-06-28 14:04] Bouncey opened #73 "Incomplete Instructions for Basic JavaScript: Return a Value from a Function with Return"
@Nirajn2311 commented on [Thu Jun 28 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17745)

#### Describe your problem and - if possible - how to reproduce it
The instructions instruct us to create a function timesFive but it doesn't tell us to call the function after creating it. So when anyone does the challenge they will get an error.
I think that the instructions should be modified

[2018-06-28 14:05] Bouncey commented on #73
I would be in favour of just removing the test for `function timesFive should be called with a number`

@Nirajn2311 go ahead and make the PR if you wish to

[2018-06-29 00:30] #55 closed

[2018-06-29 16:15] Flarp commented on #68
@anku255

edit the `package.json` in learn, replacing

[2018-06-29 16:17] Flarp commented on #68
Whoops, my bad.

@anku255

Modify the `package.json` file, replacing the version number of `@freecodecamp/curriculum` with `file:/path/to/local/curriculum`, an installation of the curriculum repo from Git.

[2018-06-29 16:55] #61 closed

[2018-06-29 18:20] CharmedSatyr opened #80 "Incorrect comment in ES6: Destructuring with rest operator"
**Describe the bug**
Two lines that say `change code below this line` sandwich the line with the comment `change this`.
The bottom one should say `change code above this line`.

**To Reproduce**
1. Go to 'https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-operator-to-reassign-array-elements/'

**Expected behavior**
The bottom com

[2018-06-29 18:22] raisedadead commented on #61
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-29 18:22] raisedadead commented on #55
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-29 18:22] raisedadead commented on #47
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-29 18:49] #73 closed

[2018-06-29 19:03] Beaglefoot opened #82 "Authentication with Socket.IO - assertions are broken"
**Describe the bug**
2 incorrect assertions on the following [challenge](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/authentication-with-socket-io/) make it impossible to pass (at least without cheating).

**To Reproduce**
Just follow the instructions for this set of challenges, there is no way to miss it.

**Expected behavior**
Test should p

[2018-06-29 19:06] CharmedSatyr commented on #80
duplicate

[2018-06-29 19:06] #80 closed

[2018-06-29 19:08] Beaglefoot commented on #82
I have a fix. Will send PR later...

[2018-06-29 20:40] lynxlynxlynx opened #86 "Use the filter Method to Extract Data from an Array: wrong indices"
**Describe the bug**
The challenge text mentions  <code>title</code> and <code>rating</code, but the actual objects have Title and imdbRating, as in the previous ones.

**To Reproduce**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array

[2018-06-30 00:09] #36 closed

[2018-06-30 00:33] raisedadead commented on #73
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-30 00:33] raisedadead commented on #36
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-30 06:10] RobAnthony01 commented on #24
@ChrisLMartin What do you mean 'get rid of it'?

[2018-06-30 10:31] #65 closed

[2018-06-30 11:12] anku255 commented on #68
@Flarp Great! Thanks for the tip.

[2018-06-30 11:19] CharmedSatyr opened #92 "ES6 getter/setter challenge console.logs should show results in comments"
**Describe the bug**
The instructional text in the "ES6: Use getters and setters to Control Access to an Object" challenge includes `console.log(lol.writer);` twice but lacks comments to indicate the different results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-t

[2018-06-30 13:19] CharmedSatyr opened #95 "Confusing instructions for "ES6: Understand the Differences Between import and require" path"
**Describe the bug**
A challenge "Note" indicates that "In most cases, the file path requires a ./ before it; otherwise, node will look in the node_modules directory first trying to load it as a dependency."

Furthermore, the challenge instructions state that "The file where this function lives is called "string_functions", and it is in the same directory as the current file."

Therefore, users sh

[2018-06-30 16:31] Em-Ant commented on #27
Hi @nkolatsis and @anku255 ,
about the .env challenge @anku255 is correct. message.toUpperCase() is an empty string when the test fails. About the other issue, the problem is in [this function](https://github.com/Em-Ant/fcc-express-bground-pkg/blob/cb9bc1c0a76ccc4b9ee2b5d0e26a139062551661/wrappers.js#L24) in the background server package. It only tests the first argument of console.log and expects

[2018-06-30 19:08] Em-Ant commented on #27
@anku255 @nkolatsis I updated the boilerplate.

It should work for the glitch projects created from now on. For the old ones there is a problem: the npm modules are cached. If you want to do a clean re-install you have to access the linux console of your project (clicking on the relative button on the right of 'Activity Logs, or at this url https://glitch.com/edit/console.html?<your-project>) and

[2018-06-30 19:54] raisedadead commented on #27
@Em-Ant can you please DM on gitter, I'll walk you through the steps for the transfer

[2018-07-01 04:18] #82 closed

[2018-07-01 10:49] gforce2k5 commented on #95
on it

[2018-07-01 10:50] #92 closed

[2018-07-01 12:05] anku255 commented on #14
I am working on this.

[2018-07-01 23:53] scissorsneedfoodtoo commented on #68
@Flarp, cool! That's way easier than modifying node_modules every time to test changes. Thanks!

[2018-07-02 15:18] Flarp commented on #68
Glad to be helpful, but does anyone have a work around for this right now, where I can run each item in curriculum independent of learn?

[2018-07-04 12:15] #17 closed

[2018-07-04 14:12] mpmaan opened #108 "Wrong regex for test : ES6 - Difference between import and require"
**Describe the bug**
This test requires to use only `"` around the `path_to_file` for the solution but I think that `'` should work too.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![screenshot-2018-7-4 es6 understand the differences between import and require learn freecodecamp](https://user-images.githubusercontent.com/34267628/42281755-201920d4-7fc2-11e8-9965-7

[2018-07-04 14:35] mpmaan commented on #108
I think that I can fix this myself.

[2018-07-06 07:24] mpmaan opened #113 "Typo in description : Basic Node and Express - Serve Static Assets"
**Describe the bug**
The current description contains this sentence.
*If don’t know what a middleware is, don’t worry.*
It should be
*If **you** don't...*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [challenge](https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/serve-static-assets)
2. Search for `If don't` on the web page.
3. See error

**Screenshots**
![s

[2018-07-06 07:31] mpmaan opened #114 "Typo: Basic Node and Express - Chain Middleware to Create a Time Server"
**Describe the bug**
Incorrect spelling of **hypothetical**

**Screenshots**
If applicable, add screenshots to help explain your problem.
![screenshot-2018-7-6 welcome to learn freecodecamp 1](https://user-images.githubusercontent.com/34267628/42365598-9084216a-811c-11e8-9266-268a731ec103.png)

[2018-07-06 22:31] wudifeixue opened #116 "Typo: Basic CSS: Use CSS Variables to change several elements at once"
The test case on this challenge does not make sense since it repeated `--penguin-skin` three times when it is supposed to be `--penguin-skin`, `--penguin-belly`, `--penguin-beak`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once
2. Try to complete the challenge
3. See error

[2018-07-08 03:50] #14 closed

[2018-07-08 11:32] CharmedSatyr opened #118 "Tests not properly detecting font-size in SASS @while challenge"
**Describe the bug**
With my code, elements display correctly, and devtools shows that the `font-size`s for all `.text-#{$x}` elements is correct. However, the tests do not pass.

**To Reproduce**
1. Go to 'https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while/'
2. Between the `style` tags, add:
[code]
3. The test won't pass even though the text

[2018-07-08 12:44] #108 closed

[2018-07-09 00:21] ivan3123708 opened #119 "Advanced Node and Express - Hashing Your Passwords - needs refactoring"
**Describe the bug**

https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/hashing-your-passwords

Challenge suggest the following code to hash a password:

```var hash = bcrypt.hash(req.body.password, 12);```

... and than saving the hash variable to the database, but this code returns a promise and therefore cannot be saved as password. So we need t

[2018-07-09 09:41] #113 closed

[2018-07-09 10:39] johnkennedy9147 commented on #114
closed by #115

[2018-07-09 10:39] #114 closed

[2018-07-09 13:08] mpmaan opened #120 "Typo : MongoDB and Mongoose - Updates on a Document Using model.findOneAndUpdate()"
**Describe the bug**
Current incorrect sentence

Expected sentence

**Screenshots**

![image](https://user-images.githubusercontent.com/34267628/42451412-ce874f48-83a4-11e8-8b39-bdad76f30b43.png)

[2018-07-09 14:16] #116 closed

[2018-07-10 18:29] Flarp commented on #95
Another nit pick, "node" should be capitalized.

[2018-07-11 14:36] #120 closed

[2018-07-12 07:46] johnkennedy9147 opened #135 "Bug: Multiple Issues with tests for ES6: Create Strings using Template Literals"
**Describe the bug**
Text for first test should be amended to say array rather than list as this is both what we specify and test for.

Second test only passes if you use double quotes around class attribute

The test for use of template literals has an incorrect regex. The part of the regex testing for `</li>` has not been properly escaped so `/` is being treated as end of the regex, with `l` bei

[2018-07-12 10:30] scissorsneedfoodtoo commented on #135
Hi @johnkennedy9147, thank you for taking the time to report this.

You're right. Even though this challenge's regex test to detect template literals was fixed and improved recently in #90, I think there's still room for further improvement. I just did some testing, and while solutions that use push and map/forEach work fine now, hard coded solutions don't seem to work. Valid template literal stri

[2018-07-12 15:54] ojeytonwilliams commented on #68
Hey @Flarp while this probably isn't exactly what you're after, hopefully it helps.

You can avoid rebuilding learn by editing the Gatsby cache directly.

First off get learn running via yarn develop. That should populate learn's .cache/json directory with the challenge data.  Once you've found the file you want, you can just copy over any changes you want from curriculum and they'll appear when y

[2018-07-12 22:43] Flarp commented on #68
@ojeytonwilliams That should do it, I'll test that out soon (either tonight or tomorrow) and fill you in on how it goes, thank you!

[2018-07-12 23:14] ojeytonwilliams commented on #68
@flarp you're very welcome! Definitely let me know how it goes.

[2018-07-13 18:41] Flarp commented on #68
@ojeytonwilliams It works wonders! Thank you so much!

[2018-07-13 19:33] Flarp commented on #68
Actually, this doesn't solve _everything_, the changes in `learn` are not reflected in `curriculum`, and vice versa. Also, you need to recompile if you make a new page.

[2018-07-14 05:09] lynxlynxlynx opened #142 "Redux: Handle an Action in the Store: hidden requirement"
**Describe the bug**
The challenge throws browser console errors if you manually define an explicit new state. It works if you just pass `return {login: true};`. It can be confusing to the user, since there was no mention of such restrictions, nor is the real error visible without opening the browser console ... which then looks like a pipeline issue. And for complexer states, typing out the whole

[2018-07-14 09:42] lynxlynxlynx opened #144 "Redux challenge still mentions the beta"
**Describe the bug**
In the ES6 hint at the end.

**To Reproduce**
https://learn.freecodecamp.org/front-end-libraries/redux/create-a-redux-store

[2018-07-14 10:11] #119 closed

[2018-07-14 14:54] lynxlynxlynx commented on #118
This is also tracked in #12699 of the main repo.

[2018-07-15 14:37] joker314 opened #149 "Use of <code> tag inappropriately"
**Describe the bug**
Using `<code>` tags to show new terminology (rather than to refer to code) has caused confusion to campers, as filed in freeCodeCamp/freeCodeCamp#17655. These tags do cause confusion. `<code>` tags, semantically, are meant to refer to code.

However, these are used in almost every challenge. For example, the terminology "getter" and "setter" is not code (there is no keyword ca

[2018-07-15 14:40] joker314 opened #150 "Issue template uses ** rather than #"
**Describe the bug**
The issue template bolds headings (`**heading**)`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/freeCodeCamp/curriculum/issues/new?template=bug_report.md
2. Observe headings

**Expected behavior**
It would be more semantically correct to use `#`s. This could also make navigation either on some users' set-ups (e.g. if they have certain things se

[2018-07-15 14:40] joker314 commented on #150
I would love to fix this myself if people agree we should change this?

[2018-07-15 14:55] joker314 commented on #150
The PR template currently uses `####`. I think the issue template should do the same: it doesn't make a visual difference but does make a semantic one so I'm going to go ahead and make the PR(?)

[2018-07-16 01:50] clandau opened #153 "missing introduction to Socket.io challenges"
**Describe the bug**
Socket.io challenges in Advanced Node and Express are missing an intro, and description about what the challenge is doing. It looks almost as if there is a challenge missing in between "Social Auth III" and "setting up the environment".  I say this because the part in which you set up the http variable is missing as well, which makes the first instructions confusing, as you do

[2018-07-16 13:48] wadleo commented on #42
Not only the releasedOn field is deleted, but the isRequired and react fields are also deleted, as seen below (I did a git diff, so I noticed the removals and re-indenting of the code). It also reindents the code.
![gnome-shell-screenshot-tg4tlz](https://user-images.githubusercontent.com/11006276/42762103-4f72f21c-8907-11e8-82ec-9ae74cc08bd2.png)

[2018-07-16 14:01] wadleo opened #155 "404 error, page not found on react challenge."
This [bug](https://github.com/freeCodeCamp/learn/issues/236) was reported in the freecodecamp repo, below are the full details to it.
In the Front End Libraries Certification: React Challenge there is a [challenge](https://learn.freecodecamp.org/front-end-libraries/react/introducing-inline-styles) named

Introducing Inline Styles

in which there's a link to an [article](https://learn.freecodecamp.

[2018-07-16 16:10] ojeytonwilliams commented on #68
@Flarp Indeed, it's far from a perfect solution.  What I think would be ideal is if a change in `curriculum` was immediately reflected in `learn`.  Gatsby should do this, but at the moment it's ignoring changes in `curriculum`.

I've been looking into this, and I'll keep you posted, but I haven't made great strides yet.

[2018-07-16 16:57] SandySingh commented on #135
@scissorsneedfoodtoo Solution using map is still not working.

[2018-07-17 14:36] Flarp commented on #68
@ojeytonwilliams My approach would be to use [require.resolve()](https://nodejs.org/api/modules.html#modules_require_resolve_request_options) to locate the module directory (as said above, I don't use the default node_modules dir, as it's counter-intuitive for development), and then using some form of observable on the directory with Gatsby

[2018-07-17 14:56] ojeytonwilliams commented on #68
@Flarp I think [yarn link](https://yarnpkg.com/lang/en/docs/cli/link/) should do the first part of the job - as you say, you want to use a local version of `curriculum`.

The tricky bit is setting up the observable, but I think I'm getting there.  I'm also learning a bit about Gatsby in the process.

[2018-07-18 14:41] joshalling opened #161 "Applied Visual Design: Background image regex needs to be fixed"
The regex lets you pass in a double quote to start the url and a single quote to finish it. It also doesn't let you pass in the url without quotes even though that is also valid css.

The challenge in question is [here](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image).
Type in your background as `background:

[2018-07-18 20:13] Flarp commented on #68
https://github.com/freeCodeCamp/learn/blob/30b5516f826e98ad23daee51f2e4ed89d54c05b6/plugins/fcc-source-challenges/gatsby-node.js#L47

This line seems to already do what we want, it's simply commented out. I'll uncomment and get back to you on anything that occurs.

[2018-07-18 21:03] #161 closed

[2018-07-18 21:46] Flarp commented on #68
Upon uncommenting (and a lot of other minor changes throughout both `learn` and `curriculum`), I guess it was commented out due to it causing Gatsby to recompile infinitely. However, it does not update like it should.

[2018-07-19 02:57] Nirajn2311 commented on #24
So @ChrisLMartin are you working on this?

[2018-07-19 04:00] Nirajn2311 commented on #149
@joker314 we can make the word bold and italic. For example `global` can be changed to _**global**_

[2018-07-19 09:53] Nirajn2311 commented on #149
@joker314 I’ll also work on it over the weekend. Also I think it would be better if someone posted which all words have to be changed.

[2018-07-19 10:39] joker314 commented on #149
@Nirajn2311 It's almost everything. But wait, it's because people aren't reading the [manual](https://github.com/freeCodeCamp/curriculum/blob/dev/docs/challenge-style-guide.md#formatting-challenge-text). We need to make sure we replace with `<dfn>` tags.

[2018-07-19 10:45] joker314 commented on #149
@Nirajn2311 If you are going to make changes, please do so from the bottom of the map (that way, nobody re-does work someone else has done). I intend to have finished all 5k challenges, with their translations, by the weekend -- but that's a big task, which I appreciate.

[2018-07-19 12:20] joker314 commented on #149
I realise now how vast a task this is going to be. I'm going to file PRs every week until this is completed, following the order displayed in the map -- from top to bottom.

[2018-07-19 14:12] #144 closed

[2018-07-19 15:58] ojeytonwilliams commented on #68
Indeed.  The challenge plugin's a bit odd - it's based on the `gatsby-source-filesystem` plugin and has a few bits of redundant code and some quirks.  I've managed to get something working partially, but it's not pull request ready.

Nonetheless, I'll clean up what I have tomorrow and push it to my fork, so you can take a look.

[2018-07-19 16:18] Flarp commented on #68
I'll push my fork too, show you the changes I've made

[2018-07-19 16:31] Flarp commented on #68
https://github.com/Flarp/curriculum/commit/e7315f651658911797facf74033e77fdc1c8e79f

https://github.com/Flarp/learn/commit/a8775a70398b95779bd14820188df80f10ec4256

[2018-07-19 21:03] HugoLiconV opened #164 ""Data Structures: Add a New Element to a Binary Search Tree" challenge needs more tests"
**Describe the bug**
You can complete the challenge by just adding the new element to the root if it is null.

This is all the code that you need to complete the challlenge
  this.add = function (element) {
    if(!this.root){
      this.root = new Node(element)
    }
  }

[2018-07-20 13:01] joshalling opened #166 "Applied Visual Design: Some challenges don't allow 0 values without a unit even though it is valid css"
A couple of the challenges in Applied Visual Design won't pass if you omit the unit on a zero value.

Challenges in question:
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-movement-using-css-animation
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/use-a-css-linear-gradient-to-create-a-striped-element

I will take care of this one

[2018-07-20 15:48] ojeytonwilliams commented on #68
It looks like we were going in similar directions.
[learn](https://github.com/ojeytonwilliams/learn/tree/watch-dev-curriculum)
and
[curriculum](https://github.com/ojeytonwilliams/curriculum/tree/fix/challenge-caching)

The key problems I encountered were that the json was being read with `require`, and getting cached.  Also if you want to do your work in the challenges directory (rather than dist/

[2018-07-20 16:38] Flarp commented on #68
A mind boggling error that came about during development was Vim creating copies of files (for saving purposes) faster than Node could read them, which caused `learn` to crash. I fixed this by adding the tilde (~) as a character ignored by the watcher.

You can read more about this oddity (here)[https://askubuntu.com/questions/173151/what-does-the-tilde-at-the-end-of-a-file-name-stand-for]

[2018-07-20 16:45] Flarp commented on #68
Most of what we're doing actually pertains to the `learn` repository, so this issue will be continued in the issue above.

[2018-07-20 16:55] ojeytonwilliams commented on #68
Should have thought of that. I figured that nothing needed ignoring, since
it was just looking at dist. Oh well, lesson learned!

On Fri, 20 Jul 2018, 18:38 Flarp, <notifications@github.com> wrote:

[2018-07-20 17:05] nathanhannig commented on #24
I think he doesn't want the commit to show on this issue and that he will not be working on this.

[2018-07-20 17:19] nathanhannig commented on #15
I will work on this

[2018-07-20 17:52] Nirajn2311 commented on #155
Can you close this issue as it is solved in #151

[2018-07-20 18:08] nathanhannig commented on #15
The main issue is not related to the challenge itself. I cannot claim that large issue..

The issue is actually that all description elements are being wrapped by a <p className="wrappable"> tag.

This means that <ul>, <hr> should not be used in the description unless the automatic wrapping with a <p> is removed. However, they are being used in multiple challenges besides this one.

IMO, the <p> s

[2018-07-20 18:13] nathanhannig commented on #15
I agree the blockquote contents should be in a <code>, I will claim that

[2018-07-20 18:31] Nirajn2311 commented on #149
I’ll start with coding interview.

[2018-07-20 19:27] nathanhannig opened #169 "Basic CSS: Understand Absolute versus Relative Units- red-box margin css doesn't match green-box"
**Describe the bug**
.red-box margin does not match .green-box margin; and instead matrches .yellow-box margin.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learn.freecodecamp.org/responsive-web-design/basic-css/understand-absolute-versus-relative-units
2. Look at css

**Expected behavior**
Make .red-box margin match .green-box margin

To my understanding, it should

[2018-07-20 19:31] joker314 commented on #149
Just to show what it looks like, [this challenge](https://learn.freecodecamp.org/responsive-web-design/css-grid/align-an-item-horizontally-using-justify-self) did it right -- and the `<dfn>` tag renders in italics for me.

Thanks for helping out with this by the way! I just realised I had a lot less time than I thought I did, so I might end up doing not so much.

[2018-07-20 19:53] nathanhannig commented on #169
after reviewing the code, I believe green-box css should be changed to match red-box

green-box is only used once in the challenges

red-box is used multiple times and in some of these cases, it has the same margin. So I feel there is less need to make red-box become out of sync with those examples and fix the one instance of green-box

[2018-07-20 21:20] johnkennedy9147 commented on #155
@Nirajn2311 thanks for the heads up. Issue closed.

[2018-07-20 21:20] #155 closed

[2018-07-23 14:01] ojeytonwilliams commented on #68
@Flarp So, I looked into this a bit more and it's a bit odd.  Are you developing on a Mac, by any chance?  For some reason, it seems that chokidar ignores vim's tmp files on Linux, but not on Mac.  I'll make sure they're ignored regardless.

As for the rest of the files, I agree they shouldn't be reported to Gatsby, but they also shouldn't be appearing in the dist directory in the first place!

[2018-07-23 14:13] Flarp commented on #68
I am on Arch Linux, so that's strange.

[2018-07-24 08:32] #169 closed

[2018-07-24 08:49] hnryjmes commented on #135
@scissorsneedfoodtoo can I confirm whether there is any way to pass the test in its current state, or whether we need to wait for a site refresh?

[2018-07-24 15:47] ojeytonwilliams commented on #68
It is.  Regardless, I think I've fixed the problem - by just watching .json files.

Would you mind re-opening this?  The changes span both `learn` and `curriculum` after all.

[2018-07-24 21:58] johnkennedy9147 commented on #135
#140 fixed incorrect text in first test

[2018-07-24 22:01] #150 closed

[2018-07-24 22:33] johnkennedy9147 commented on #135
missing escaping for `/li>` fixed in  #90

[2018-07-24 23:35] johnkennedy9147 commented on #135
@scissorsneedfoodtoo I was working on the regex and it occurred to me, we have a test that checks the content and then another that checks template literals were used, that being the case in the third test do we really need a complex regex - if we are only testing for template literals then we can just do ``^`.*`$``

[2018-07-25 00:06] scissorsneedfoodtoo commented on #135
@johnkennedy9147, just saw your PR. Great catch there! In all our work with the third test more flexible we never updated the second to accept single quotes.

About the new regex for the third test, that seems like a great idea. A simple check like that would allow all solutions I can think of to pass, and the current test doesn't have to be so complex since there's another that checks the content

[2018-07-25 23:09] panik-stricken commented on #118
uuummmm. Do I get points for enthusiasm?

[2018-07-26 00:18] johnkennedy9147 commented on #135
@scissorsneedfoodtoo unfortunately the comment is causing the test to pass. the style of test being used looks at the whole content of the code editor, and the style used in test 2 wont work as the strings being tested dont include the quote or backtick to check against.  So looks like it will have to be a big horrible regex - think I have a working solution, slightly adapted from your suggestion.

[2018-07-27 04:06] scissorsneedfoodtoo commented on #135
@johnkennedy9147, that's too bad. Would be great to simplify here if we could, but it's not a big deal. I was playing with the simplified regex and found something that works, though it relies on a negative lookbehind which isn't supported in Firefox yet.

Looking forward to your PR!

[2018-07-27 11:41] ojeytonwilliams commented on #142
So, the problem is that the editor's Babel preset is es2015 and the syntax to `spread` objects is a language feature from es2018.  I'll take a look and see if that can be updated.

[2018-07-27 14:26] raisedadead opened #186 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-27 14:38] raisedadead commented on #161
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:38] raisedadead commented on #150
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #169
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #119
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #113
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #108
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #92
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] raisedadead commented on #82
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-27 14:39] #186 closed

[2018-07-29 00:08] shimphillip opened #193 "Provide better instructions for 'has' method in Create a Map Data Structure challenge"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-a-map-data-structure/.
Instructions for 'has' method in the challenge is pretty ambiguous unlike descriptions of other methods in the same challenge. It lacks pro

[2018-07-29 12:39] Nirajn2311 commented on #193
Working on it.

[2018-07-30 01:40] D3Portillo opened #197 "https://github.com/freeCodeCamp/freeCodeCamp/issues/17951"
https://github.com/freeCodeCamp/freeCodeCamp/issues/17951 still persists

[2018-07-30 02:36] #42 closed

[2018-07-30 05:39] JasonXiao2007 opened #198 "Create Grids within Grids can be passed without doing anything"
#### Describe the bug
This challenge can be passed without doing any work.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://learn.freecodecamp.org/responsive-web-design/css-grid/create-grids-within-grids/'
2. Click on 'Run the Tests'
3. See error (You just passed without doing anything)

#### Expected behavior
This challenge will need to be completed before it can be passed.

[2018-07-30 05:52] kevinsmithwebdev opened #199 "Basic JavaScript: Increment a Number with JavaScript - fails for pre-increment"
The problem does not specify a pre-increment (`++myVar`) or post-increment (`myVar++`).

One test:
[code]
allows either, but another test:
[code]
fails for pre-increment.

The problem description should either say specifically "post" or the tests should allow either.

A fair number of campers are getting tripped up on this.

[2018-07-30 07:05] jocharles57 commented on #197
Yep, still happening.

[2018-07-30 07:32] johnkennedy9147 commented on #197
this is fixed in https://github.com/freeCodeCamp/curriculum/pull/189
the fix wont go live till the next release

[2018-07-30 07:32] #197 closed

[2018-07-30 15:08] Nirajn2311 commented on #199
Will work on it.

[2018-07-30 15:57] gforce2k5 commented on #198
i'll work on it

[2018-07-30 17:21] kevinsmithwebdev commented on #199
Also, I question if the second test should require to end with a semicolon. Many JS coders leave off semicolons and it is a subject of active debate. I don't know if FCC has taken a stand and is enforcing a standard. If FCC isn't enforcing semicolons, then that should be removed.

[2018-07-30 19:27] myDeveloperJourney opened #202 "Error causing test to fail - Create a Horizontal Line Using <hr> tag"
#### Describe the bug
I've attempted solving this exercise several times. The solution to solving this exercise is relatively simple, it just requires an `<hr>` tag to be placed between the `<h4>` title tag and the first `<p>` tag that follows it.

However, when submitting this solution, once of the tests fail:

`"The hr tag should come between the title and the paragraph."`

I've also attempted t

[2018-07-30 20:56] johnkennedy9147 commented on #202
this is already fixed in #189 it will go live at next release

[2018-07-30 20:56] #202 closed

[2018-07-31 01:16] #166 closed

[2018-07-31 16:02] raisedadead commented on #166
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-31 16:02] raisedadead commented on #135
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-01 05:32] raisedadead opened #204 "Updated scripts are blocking tests on main repo"

[2018-08-01 12:57] jromest opened #205 "Duplicated CSS top property in the last challenge in Applied Visual Design"
#### Description
I just found a duplicated CSS `top` property in Applied Visual Design: Make Motion More Natural Using a Bezier Curve, is this intended?

[code]
####  Link
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve

[2018-08-01 14:17] Nirajn2311 commented on #205
I think that `top: 249px;` should be removed as there was no change in animation with or without it but when I removed `top: 60%` there was a change in the position of the balls.
Any beginner or first-timer is free to do a PR.

The code to be edited for this challenge can be found here

[2018-08-01 21:52] joshalling opened #206 "Improving the curriculum test bed"
I have noticed that a large proportion of the challenges do not have any solutions that are being tested, namely the Responsive Web Design challenges. This became apparent to me recently when I had submitted a pull request that passed all the tests, but had a typo in it that would have broken the updated challenge. Luckily @scissorsneedfoodtoo caught it and the bug was avoided.

I understand that

[2018-08-02 08:12] #164 closed

[2018-08-02 08:50] #193 closed

[2018-08-02 13:13] nikrb opened #207 "clickjacking exercise description displays iframe"
#### Describe the bug
[clickjacking exercise](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-with-helmetjs/mitigate-the-risk-of-clickjacking-with-helmet-frameguard) shows an iframe and some of the description is missing as there are html elements in the description.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to [clickjacking exercise](

[2018-08-02 16:38] davewburns opened #209 "Positive and Negative Lookahead bug"
#### Describe the bug
The test will pass with only one number present using this regex `/(?=\w{5})(?=\D*\d)/`

#### To Reproduce
Steps to reproduce the behavior:
1. Go to '[...](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead)'
2. Use `/(?=\w{5})(?=\D*\d)/` as the code solution.
3. The test will pass.

#### Expected behav

[2018-08-02 18:43] nathanhannig opened #210 "ES6 - Write Higher Order Arrow Functions - No negative integers included in seed"
#### Describe the bug
Details of issue are reported in the FCC repo at https://github.com/freeCodeCamp/freeCodeCamp/issues/17942

[2018-08-02 19:12] joshalling commented on #209
It looks like there is no test present to assert that an input with only 1 digit like `abcd1` fails. I can take this one.

[2018-08-02 19:16] nathanhannig commented on #206
is there any FCC documentation related to creating tests?

[2018-08-02 19:25] nathanhannig commented on #95
I will claim and fix

[2018-08-02 19:39] Nirajn2311 commented on #206
Check both the documents in this folder
https://github.com/freeCodeCamp/curriculum/tree/dev/docs

[2018-08-02 22:14] nathanhannig opened #213 "ES6: Use Destructuring Assignment to Assign Variables from Objects"
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects

Decription
`Use destructuring to obtain the length of the input string str, and assign the length to len in line.`

I believe 'in line' should be a single word: 'inline'

[2018-08-02 22:45] joshalling commented on #213
While I agree that the instructions are confusing, I feel like it is also good to at least try to apply a concept like this to a more specific situation.

Maybe rather than change the challenge we could add a hint to the guide. That way the camper is still being pushed to figure it out on their own.

Thoughts?

[2018-08-03 08:53] johnkennedy9147 commented on #213
I think this is a poorly written challenge. It is confusing as it relies on campers having an understanding of the difference between string primitives and string objects and how JavaScript automatically converts primitives to objects in order to apply methods or lookup properties.

Given we don't seem to cover these facets of strings in the curriculum prior to this challenge it is unfair to expec

[2018-08-03 12:45] joshalling commented on #213
@johnkennedy9147 In that case, we would need to update the the tests and contents of this challenge. Could we do something similar the next challenge that uses a nested object? For example:

[code]

[2018-08-03 14:37] joshalling opened #215 "CSS grid auto-fill challenge passes when it shouldn't"
This test passes when you apply auto-fit to the container class even though it specifies that you need to add it to the container2 class.

Steps to reproduce:
- go to [this challenge](https://learn.freecodecamp.org/responsive-web-design/css-grid/create-flexible-layouts-using-auto-fit.)
- change auto-fill on line 14 to auto-fit
- click run the tests and it passes

This should be fairly easy for a b

[2018-08-03 14:49] Nirajn2311 commented on #215
@joshalling your link is broken due to a extra dot at the end.

[2018-08-04 03:59] Nirajn2311 opened #218 "Regex - Match Everything but Letters and Numbers"
#### Describe the bug
The challenge instructs us to use `\W` to solve the challenge but we can solve the challenge by using `[^\w].

#### To Reproduce
Steps to reproduce the behavior:
1. Go to [challenge](
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/match-everything-but-letters-and-numbers)
2. Replace the regex to `/[^\w]/g`
3. Click run tests
4. Yo

[2018-08-04 06:48] nathanhannig commented on #95
Can anyone confirm...

I believe this is the fix

`"getUserInput => assert(getUserInput('index').match(/import\\s+\\{\\s*capitalizeString\\s*\\}\\s+from\\s+(\"|')(\\.\\/)*string_functions\\1/g), 'valid <code>import</code> statement');"`

[2018-08-06 01:42] wudifeixue commented on #215
I have just encountered the same problem too.

Basically, if you changed `auto-fill` to `auto-fit` it will also pass the challenge when you are supposed to change `grid-template-columns: repeat(3, minmax(60px, 1fr));` to `grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));` for `.container2`

[2018-08-06 19:46] kevinsmithwebdev opened #221 "The definition of complementary colors."
A few days ago the section on complementary colors was edited to list orange as the complementary color of blue.

This is a contentious subject with a lot of people because a lot of us (including me) were taught the outdated RYB color model in school and that kind of sticks with us. Most people do not realize that that is no longer accepted and the preference is for the additive RGB or subtractive

[2018-08-06 20:25] nathanhannig commented on #95
so the issue is that the tests (not a specific test) fail because the capitalize function  is being pulled from the window object, so when you change how it is imported the code fails to run.

I think the description of these challenges need to be improved to state we aren't importing from a file for the challenge but from an unorthodox method of using the window object.

[2018-08-07 08:51] #198 closed

[2018-08-07 09:08] #207 closed

[2018-08-07 18:59] nikrb opened #223 "Information Security with HelmetJS - incorrect node version in glitch package.json"
#### Describe the bug
Working through the challenge [Information Security with HelmetJS - Hash and Compare Passwords Asynchronously](http://localhost:8000/information-security-and-quality-assurance/information-security-with-helmetjs/hash-and-compare-passwords-asynchronously) I noticed the console complaining about the node version. It is looking for v4 but v8 is currently used.

#### To Reproduce

[2018-08-08 04:19] Nirajn2311 commented on #223
@nikrb in package.json node engine is v4.4.3 which is not currently supported by glitch. The below link gives a list of node versions supported by glitch
https://nodeversions.glitch.me

[2018-08-08 09:27] #24 closed

[2018-08-08 12:00] nikrb commented on #223
@Nirajn2311 locally I use nvm with "lts" option, which gives 8.11.2.
glitch console `node -v` gives 8.11.3 which is probably best for the time being?
I don't really know enough about this so any guidance appreciated.

[2018-08-08 18:35] joshalling opened #228 "Grid Column Gap challenge matches with a declaration outside of the .container rule"
The grid column gap challenge doesn't ensure that your declaration is within the `.container` rule. This means you can put the `grid-column-gap` declaration in a different rule and still pass the challenge.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to ['...'](https://learn.freecodecamp.org/responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap/)
2. add the followi

[2018-08-08 21:58] joshalling opened #229 "Grid Gap shorthand declaration passes without a space between measurements"
The grid gap shorthand challenge will pass when the measurements are mashed together.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to ['...'](https://learn.freecodecamp.org/responsive-web-design/css-grid/add-gaps-faster-with-grid-gap)
2. add the following code in the `.container` rule
[code]
3. Click run and the test passes

[2018-08-10 20:42] #229 closed

[2018-08-12 07:51] nikrb commented on #223
Seems most of the challenge boilerplates need updating - or remove the node engine property?

[2018-08-12 08:18] nikrb opened #240 "Advanced Node and Express - Set up Passport. instructions missing for session()"
#### Describe the bug
[challenge](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/set-up-passport) is missing instructions to include passport.session() so challenge fails

#### To Reproduce
Steps to reproduce the behavior:
1. Go to challenge
2. Follow instrutions
3. challenge fails as passport.session() is missing

#### Expected behavior
expect

[2018-08-12 18:33] web2033 opened #241 "Deprecated methods in React"
https://learn.freecodecamp.org/front-end-libraries/react/use-the-lifecycle-method-componentwillmount
uses deprecated React methods like:

componentWillMount,

componentWillUpdate,

componentWillReceiveProps

They deprecated since 16.3 and will be removed in 17

Info: https://reactjs.org/blog/2018/03/29/react-v-16-3.html

[2018-08-12 19:23] Nirajn2311 opened #242 "Search text box covers first line of code."
@luxaeterne commented on [Sun Aug 12 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/18009)

#### Describe your problem and - if possible - how to reproduce it
Search textbox in lessons covers first line of code.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 68.0.3440.106 (Official Build) (64

[2018-08-12 19:24] #242 closed, assigned to nobody

[2018-08-12 19:45] web2033 commented on #241
Looks better with a diagram)
![life-cycle-react-16 3](https://user-images.githubusercontent.com/11320080/44005752-4815fa16-9e81-11e8-91b2-01eb1dc63eef.jpg)

[2018-08-13 14:14] joshalling opened #243 "Improve the React lifecycle method challenges"
After seeing the issue that @web2033 reported (#241) about deprecated lifecycle methods, I decided to go through the lifecycle challenges, and I have a few recommendations that I think would be beneficial.

1. https://learn.freecodecamp.org/front-end-libraries/react/use-the-lifecycle-method-componentwillmount/
    - Add the new lifecycle methods and remove the deprecated ones based on the react do

[2018-08-13 14:43] web2033 commented on #243
[This article](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html) has even more details with examples and suggestions for migration.

[2018-08-13 16:04] joshalling commented on #243
@web2033 Thanks for that article. It looks like pretty much all use cases for `componentWillMount` can be migrated using `constructor` or `componentDidMount`. Maybe in the first challenge we could have them `console.log()` something in the constructor, and explain that this is the first method that gets called in the lifecycle.

[2018-08-14 07:06] bahsoun opened #247 "Bug in Question : Create a Horizontal Line Using the hr Element |Category : Applied Visual Design"
#### Describe the bug
There is a small bug on the page
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element/

It prevents from passing right the exam.

The Error: when it is done correctly, an error shows:
“The hr tag should come between the title and the paragraph.”

but the solution is right and should pass.

#### To Reproduce
S

[2018-08-14 08:18] Nirajn2311 commented on #247
The learn website gets its challenges from this repo depending on the version mentioned in the package.json in learn repo. Currently curriculum repo is at v3.1.2 bu the learn repo is using v3.1.1. So the issue will be there until it is updated.

[2018-08-14 16:28] Nirajn2311 opened #248 "Typo in Basic Data Structures: Combine Arrays with the Spread Operator"
@halcyondays22 commented on [Sat Aug 11 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/18003)

#### Describe your problem and - if possible - how to reproduce it
In second paragraph, there are two "more"s before the word complex.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/combine-arrays-wit

[2018-08-14 16:28] Nirajn2311 opened #249 "Typo in Basic Data Structures: Combine Arrays with the Spread Operator"
@halcyondays22 commented on [Sat Aug 11 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/18003)

#### Describe your problem and - if possible - how to reproduce it
In second paragraph, there are two "more"s before the word complex.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/combine-arrays-wit

[2018-08-14 16:31] #249 closed

[2018-08-14 17:53] #218 closed

[2018-08-15 02:15] #248 closed

[2018-08-15 02:32] joshalling opened #250 "Debugging challenges need solutions for the test suite"
There currently aren't any solutions that are being tested in the `02-javascript-algorithms-and-data-structures/debugging.json` challenges. We should add them to avoid introducing new bugs in the future.

[2018-08-15 03:19] joshalling opened #251 "Delete HTML Elements passes when you only remove the opening tag."
#### Describe the bug
You can pass the test if you only remove the opening h1 tag.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to ['...'](https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/delete-html-elements)
2. Remove the opening `<h1>` tag
3. Click run the tests
4. It passes when it shouldn't

#### Expected behavior
You should be required to delete the enti

[2018-08-15 17:53] randelldawson opened #254 "Give a Background Color to a Div Element - missing test allows challenge to pass without creating silver-background class to change background of div to silver per instructions"
#### Describe your problem and - if possible - how to reproduce it
Part of this challenge states:

There is currently not a test which validates a class name of silver-background is defined which specifies the background-color property's value to be silver.  The current tests only check:
1) That the existing div element's class attribute value is "silver-background".
2) That the final background c

[2018-08-15 18:13] kevinsmithwebdev commented on #241
I don't think you should remove the old methods - those will still be used in legacy code for a long time to come. I think we need to teach these. But I agree that a distinction should be made. I suggest inserting challenges after each and explain that those will be deprecated in React 17+ and explain what the new methods are.

[2018-08-15 19:08] joshalling commented on #241
@kevinsmithwebdev I think you are right about not removing them completely. It would be good to mention them, explain that they have been deprecated as of react 16.3, and include a link to the docs. I don't think it's a good idea to have the user use any of these deprecated methods in the challenges though.

[2018-08-16 00:10] kevinsmithwebdev commented on #241
I disagree with not teaching componentWilMount, et al. I know it's cool to just focus on the latest version, but there are millions of web sites out there with pre 16.3 React and there will be for years to come. For a few years, there will probably be more work for pre 16.3. Companies don't always run out and upgrade to the latest version - they have a working web site and don't want to spend thou

[2018-08-17 06:15] #209 closed

[2018-08-17 06:15] scissorsneedfoodtoo commented on #199
@kevinsmithwebdev, thank you for raising this issue and making that point about the semicolon. As far as I'm aware, fCC doesn't enforce the use of semicolons, and the new Learn editor doesn't have a linter that points out the lack of a semicolon like on the older beta platform. It would be good if we can make the tests as flexible as possible. I'll ask @Nirajn2311 if he wouldn't mind updating the

[2018-08-18 22:42] kevinsmithwebdev commented on #221
So, no one has any thoughts on this? Shall I assume that silence is consent?

[2018-08-21 11:02] #213 closed

[2018-08-21 13:15] joshalling opened #260 "flex-direction row challenge regex bug"
#### Describe the bug
The flex-direction row challenge will not pass if you have other declarations above `flex-direction`.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to ['...'](https://learn.freecodecamp.org/responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed)
2. Copy the following code into the `header` rule.
[code]
3. Click Run th

[2018-08-22 10:24] Nirajn2311 opened #263 "Regex - Restrict Possible Usernames requires more refined tests"
#### Describe the bug
In the regex challenge - [Restrict possible usernames](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames), when you make the regex expression as follows:

[code]

The test passes but in Case 1 its supposed to check for numbers in the end and in Case 2 if the input is A2 or e3 it passes.

#### To Reproduce

[2018-08-22 19:53] nathanhannig commented on #241
My opinion is to remove them if they are being depreciated.

I think there are plenty of resources online that if a person comes across these methods in the future, that they will be fine. I think keeping them in the curriculum just adds material that is a "maybe you will see this" and is no longer fundamental ("you will need to know this").

[2018-08-22 22:43] kevinsmithwebdev commented on #241
I wouldn't say "maybe you'll see this". I'd say "you will definitely see this for at least a decade to come."

[2018-08-23 06:57] #251 closed

[2018-08-23 16:30] ojeytonwilliams commented on #263
Hey, I can take a look at this.  There definitely need to be a few more tests!

[2018-08-23 17:59] Nirajn2311 commented on #263
@ojeytonwilliams sry for not putting it in the description but I had thought of adding more tests in the this week once I had finished some school work.
If you don’t see any PR within a week, you may make one.

[2018-08-23 19:06] ojeytonwilliams commented on #263
Not to worry. I'll check back in a week or so.

On Thu, 23 Aug 2018, 19:59 Niraj Nandish, <notifications@github.com> wrote:

[2018-08-24 10:53] #260 closed

[2018-08-24 13:01] Nirajn2311 opened #269 "Feature Request - Git Challenges"
#### Is your feature request related to a problem? Please describe.
I think that it will be better if FCC taught users on how to use git as many people who after learning in FCC may start making their own projects and git will be very useful as it is a powerful VCS and to make sure they don't mistakenly delete some files or folders of their projects.(I'm sure most of us have been there when progra

[2018-08-24 16:48] psyperl opened #271 ""Responsive Web Design Principles: Create a Media Query" test is not forgiving."
#### Describe the bug
"Responsive Web Design Principles: Create a Media Query" test is not forgiving.

#### To Reproduce
Link of challenge: https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a-media-query/

the test wouldn't pass with
[code]

it would only pass
[code]

difference is an extra spaces inside the parenthesis.

#### Expected behavior
should pas

[2018-08-24 19:33] gareth-d85 commented on #271
I have the Same issue.
running firefox on Linux.

[2018-08-25 03:48] Nirajn2311 commented on #271
I’ll work on it.

[2018-08-25 03:55] kevinsmithwebdev commented on #241
It is more accurate to say that they will be will be renamed and discouraged in 17. Even then, you can still use the old ones and they will transpile into the new ones.

From the docs:

But again, I think this is missing a point about how software exists through versions. When a new version comes out, everyone doesn't stop using the old one and upgrade to the new one. Angular (2) came out out 2014

[2018-08-25 05:05] TomerPacific commented on #205
Hi @Nirajn2311 ,
mind if I take this one on?

[2018-08-25 05:41] Nirajn2311 commented on #205
@TomerPacific you may go ahead with the fix.

[2018-08-25 07:29] #269 closed

[2018-08-25 07:44] Nirajn2311 opened #273 "Feature Request - Git challenges"
#### Is your feature request related to a problem? Please describe.
I think that it will be better if FCC taught users on how to use git as many people who after learning in FCC may start making their own projects and git will be very useful as it is a powerful VCS and to make sure they don't mistakenly delete some files or folders of their projects.(I'm sure most of us have been there when progra

[2018-08-25 13:10] joshalling opened #274 "Template literal challenge passes with incorrect code"
#### Describe the bug
The challenge passes if you hardcode three array values into your function.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to ['...'](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals)
2. use the following code
[code]
3. The tests pass when they shouldn't

#### Expected behavior
This is problematic b

[2018-08-25 13:43] johnkennedy9147 commented on #274
Not sure why you think that is incorrect code. The challenge is to solve a specific problem using template literals, whether to map, loop or use another method on the result array or hardcode references to the array is up to the camper. There is no requirement to consider anything other than the provided 3 element array - result.failure

[2018-08-25 14:31] #271 closed

[2018-08-26 06:26] scissorsneedfoodtoo opened #277 "Problems with layout and tests for various Rosetta Code challenges"
#### Describe the bug
This was brought up on the Contributor's Chat Page by @Dangeranger. Seems that a number of the Rosetta Code challenges have minor/major layout issues, and also problems with the tests. Here's @Dangeranger's screenshot of the tests throwing errors:

![image](https://user-images.githubusercontent.com/2051070/44625393-13822780-a943-11e8-8c60-d5ed42439dd2.png)

Seems like this is

[2018-08-27 09:25] iambk opened #280 "Project Euler Problem 2 is misleading."
#### Describe the bug
Project Euler problem 2's tests are incorrect. In the description of the problem, the user is asked to find the sum of even terms till a specific term(i.e, 4 million). But the tests check for the sum till a specific number of fibonacci terms. Thus, either the description of the problem or the test cases should be modified in order to fix this.

#### Url to the challenge
[Proj

[2018-08-27 21:58] parent-tobias opened #281 "Destructuring with the Rest Operator , assertion accepts an empty array"
#### Describe the bug
In the assignment [ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-operator-to-reassign-array-elements/), if an empty array is returned, the assignment is passed.

#### To Reproduce
Steps to reproduce the behavior:
1. Go

[2018-08-28 10:04] ps0305 opened #282 "React: Use Advanced JavaScript in React Render Method"
#### Describe the bug
Unable to pass test cases in Safari browser.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to
https://learn.freecodecamp.org/front-end-libraries/react/use-advanced-javascript-in-react-render-method/

#### Expected behaviour:
Expected to pass all six test cases, but unable to pass the last one.

#### Desktop (macMINI):
 - OS: macOs
 - Browser :Safari

[2018-08-28 12:11] #280 closed

[2018-08-28 16:04] ojeytonwilliams opened #285 "Dasherize in curriculum"
Issue https://github.com/freeCodeCamp/freeCodeCamp/issues/18040 from the main repository also affects curriculum.

[2018-08-28 22:07] devragj opened #287 "Typo in curriculum/challenges/01-responsive-web-design/css-flexbox.json"
#### Describe the bug
The description of wrap-reverse has a typo.
This is in line 936 of the file css-flexbox.json.
Currently the description of wrap-reverse is:
"wrap-reverse: wraps items from bottom-to-top if they are in a row, or left-to-right if they are in a column."

It should be:
wrap-reverse: wraps items from bottom-to-top if they are in a row, or right-to-left if they are in a column.

[2018-08-29 21:49] beaucarnes commented on #221
You are correct. This should be changed back to how it was.

[2018-08-30 09:29] robinmetral commented on #287
Fixing this

[2018-08-30 09:39] #205 closed

[2018-08-31 13:18] robinmetral opened #292 "Compound Assignment with Augmented Addition allows unintended solution"
#### Describe the bug
The Basic Javascript challenge "_Compound Assignment with Augmented Addition_" basically asks learners to change:
`a = a += 12;`
to:
`a += 12;`

However the testing also allows for this solution:
`a = a += 12`
(which is the one I used because it's quicker to simply add an `=` sign)

Shouldn't it return an error for this? It should be clear that this compound assignment is int

[2018-08-31 14:12] ojeytonwilliams commented on #281
I've taken a look at this and it does need a bit of work.  Should have a PR soon.

[2018-08-31 17:14] Ashera138 commented on #221
Sorry Mrs. Magillicutty - it's time to go with the modern, scientific consensus. My vote is for the RGB model. 👍

[2018-09-01 22:02] joker314 opened #295 "Overly intricate IIFE for scoping causes confusion"
When viewing the default code that the editor is initialised with for the [ES6: Use the rest operator with function parameters](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-the-rest-operator-with-function-parameters/) is too confusing.

I'm of the belief that each challenge should try to get across a single concept. I don't feel your users are familiar enough wi

[2018-09-02 02:13] scissorsneedfoodtoo commented on #221
@kevinsmithwebdev, yes, you're absolutely correct. Should have really done more reading up on the subject before I merged that PR!

Would you be interested in changing the updating the challenge description to mention the RGB model and so yellow is the complementary color again? If not, @Ashera138, would you be interested in making the change?

[2018-09-02 02:15] kevinsmithwebdev commented on #221
I can take care of it if it's alright - I could use the practice.

[2018-09-02 02:33] scissorsneedfoodtoo commented on #221
Okay! Thank you again for catching this. Looking forward to your PR :+1:

[2018-09-02 10:35] #281 closed

[2018-09-03 14:26] tchaffee opened #297 "Dist directory should be cleaned as part of build process"
#### Describe the bug
When the `yarn build` target is run it does not clean the `dist` directory. This means that if you delete a challenge seed dir it will still remain in the dist directory.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to repo base dir.
2. Run `yarn build`.
3. Delete one of the directories from `./challenges`, for example the `03-front-end-libraries` dir.
4. Run `ya

[2018-09-04 06:16] #287 closed

[2018-09-04 12:13] dougouverson commented on #273
This could be part of a broader "Developer Tools Certification (300 hours)" section?

[2018-09-04 15:59] ojeytonwilliams opened #305 "Modern challenge types are not tested"
Challenges with `challengeType` of 6 are ignored by `npm run test`.  Despite the fact that many of these tests have solutions, this is never used to check if the tests are appropriate.

I'd be happy to take a look at this!

[2018-09-05 06:29] #221 closed

[2018-09-05 07:02] scissorsneedfoodtoo commented on #282
@ps0305, sorry that you're having trouble with this challenge. Are you able to pass it with Chrome or Firefox? Also, would you mind posting a screenshot of your code?

[2018-09-05 14:55] dougouverson commented on #273
I'm thinking it might be best to stay with subjects that would be ubiquitous in adoption; that's why I was hesitant to add VS Code. Even vim vs nano is subjective.

[2018-09-07 02:45] niaskywalk opened #310 "Challenges: Add real User Stories and convert existing to technical requirements"
User Stories in Responsive Web Design Projects should be adjusted into real User Stories as defined:

From the Tribute page:
(This is actually a System Requirement or Technical Specification)

This should read something more natural like it did in previous incarnations, then list the element requirement as System Requirements.

**### Why should this happen?**
While working with new campers, I watc

[2018-09-07 03:27] devragj opened #311 "Missing code in "JSON APIs and Ajax: Post Data with the JavaScript XMLHttpRequest Method""
#### Describe the bug
In the sample code provided in the lesson, the variable `url` is not defined.  So, though copying and pasting the sample code passes the tests, the code does not work as intended.
The variable `url` should be defined and hold the path to the server.

#### To Reproduce
1. Copy and past the sample code from the lesson into the code window, below the comment `// Add your code be

[2018-09-09 17:11] adrianwix commented on #27
I'm getting no found here. Even if I can show the JSON response on the browser using the [glitch_url]/json. I assume is a testing problem as it works perfectly for me.

[https://platinum-windscreen.glitch.me/json](https://platinum-windscreen.glitch.me/json)
[code]
.env file is
[code]

[2018-09-10 18:38] RaspberryLime commented on #273
I’d vote against specific code editors. If specific code editors were to be included though, then in my opinion something which works on _at least_ Windows and Mac OS X should be used. (I’m actually trying to get through the entire course using only iOS.)

Maybe FTP could be covered in some wa too, in at least how file permissions/CHMOD work.

[2018-09-10 19:48] dougouverson commented on #273
Yes, I agree. Developer Tools Basics: command line basics, FTP basics, git basics, etc. Subjects that are common to developers of all stripes.

[2018-09-11 08:56] Flo-Slv commented on #27
Same with the message

The response of "/json" does not change according to MESSAGE_STYLE

[2018-09-13 03:51] nathanhannig commented on #247
I have created issue in learn repo. Hopefully it gets some attention soon.

[2018-09-14 15:21] mul53 opened #314 "Change description in lesson Basic CSS: Cascading CSS variables, :root definition and usage"
#### Describe the bug and reproduce it
The lesson states:
_"You can think of the :root element as a container for your entire HTML document, in the same way that an html element is a container for the body element."_

#### Desktop (please complete the following information):
 - OS: Ubuntu,
 - Browser: chrome,
 - Browser Version: Version 67.0.3396.99

#### Additional context
The issue was raised in

[2018-09-14 16:47] RaspberryLime commented on #273
How about adding in how to validate HTML and CSS code, using say https://validator.w3.org ? Or is this something which should be taught much earlier on? (My preference would be much earlier on.)

[2018-09-14 22:05] randelldawson commented on #314
@mul53 After reading the [MDN listing on the subject](https://developer.mozilla.org/en-US/docs/Web/CSS/:root), I think HTML is the correct term to use here.

[2018-09-18 11:06] Bouncey opened #318 "Use Inheritance So You Don't Repeat Yourself challenge incomplete"
#### Describe the bug
Use Inheritance So You Don't Repeat Yourself challenge is incomplete. There is no description of how to `inherit` from `Animal`.

[2018-09-20 13:43] raisedadead commented on #269
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #210
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #229
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #193
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #271
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #260
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #254
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #251
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #199
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #209
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #213
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #206
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #198
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-20 13:43] raisedadead commented on #164
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@freecodecamp/curriculum)
- [GitHub release](https://github.com/freeCodeCamp/curriculum/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-21 01:56] nathanhannig opened #321 "Change description/tests of React: Add Inline Styles in React"
#### Describe the bug
https://learn.freecodecamp.org/front-end-libraries/react/add-inline-styles-in-react

The challenge states to set the fontSize to 40, this isn't exactly a bug, but I feel the challenge can cause confusion because the previous challenge asks the user to set the fontSize as "72px" and then states it can be set using either including px or omitting it. After reading that statemen

[2018-09-26 03:18] #314 closed

[2018-09-27 01:44] #277 closed